<div class="py-10 xl:grid-cols-3 md:grid-cols-2  grid gap-10">
    @for(post of posts; track post.id){
      <div class="bg-white rounded-xl px-10 py-5 post shadow-lg hover:shadow-2xl transition-shadow duration-300">
        <a [routerLink]="'/post/'+post.slug" class="font-extrabold text-xl mb-4 block !text-gray-800">
          {{post.title}}
        </a>
  
        <a href="#" class="underline text-sm">{{post.user.name}}</a>
  
        <div class="mt-2 text-sm text-gray-500">{{post.createdAt}}</div>
      </div>
    }
</div>
